.navigationCSS{
    background-color: red;
}

.navigationList{
    list-style: none;
    padding: 0;
    display: flex;
/*     justify-content: space-between; */
}

.navigationItem {
    margin-left: 1rem;
}